
<!-- home page title and brief description-->
<div class="center jumbotron">
	<h1>USRcube</h1>
	<br/>
	<h2>
	  USRcube develops apps for mobile phones.  The current and upcoming apps are described in the
	  <%= link_to "Apps", apps_path %>
	  page.  We are also available for hire to develop apps.  Please contact us on the
	  <%= link_to "Support", support_path %>
	  page.
	</h2>
</div>

<!-- display list of apps on home page -->
<%= render 'layouts/home_apps_list' %>

