<% provide(:title, 'Support') %>

<h1>Support</h1>
<!--
<p>
  This is the Support page for 
  <a href="http://www.usrcube.com/">USRcube</a>
  company.
</p>
-->
<h1><small>Contact Us</h1>

<%= render 'contactus_form' %>
