<h4 align="center">
  Here are our current and upcoming Apps - Please download from the iTunes App Store
</h4>

<!-- add some empty lines -->
<br>

<!-- container is defined in application.html.erb -->

<!-- title row -->
<div class="wall">
	<div class="row">

	  <div class="col-sm-6">
	  	<h2 style="font-size:2.0em"><strong>Apps</strong></h2>
		</div>
	  <div class="col-sm-6">
	  	<h2 style="font-size:2.0em"><strong>Description</strong></h2>
	  </div>

	</div>
</div>  <!-- end title row -->
